<!DOCTYPE html>
<html>
<head>
    <title>企业</title>
    <link rel="stylesheet" href="/stylesheets/company.css">
</head>
<style>
    #content_company{
        background:#F4F8FB;
    }
</style>
<body>
<%- include publicPages/header.ejs%>
<article>
    <%-include publicPages/nav.ejs %>
    <div id="content_company">
        <!--搜索框-->
        <div id="searchCompany">
            <input type="text" placeholder="买好车" id="searchText"/>
            <input type="button" value="搜索" class="btn btn-lg" id="searchBtn"/>
        </div>
        <!--筛选条件-->
        <div id="filter">
            <ul id="filterHeader">
                <li>
                    <div id="cities" class="filterItem">
                        <strong>工作地点：</strong>
                        <i cityId="0">不限</i>>
                        <span class="active" cityId="0">不限</span>
                        <%for(var i=0;i<cityDatas.length;i++){%>
                        <span cityId=<%=cityDatas[i].cityId%>><%=cityDatas[i].cityName%></span>
                        <%}%>
                        <a href="javascript:void(0)" class="leftMargin">更多</a>
                    </div>
                    <div id="district">
                        <strong>行政区：</strong>
                    </div>
                </li>
                <li>
                    <div class="filterItem" id="currentLevel">
                        <strong>融资阶段：</strong>
                        <span class="active" level="0">不限</span>
                        <span level="1">未融资</span>
                        <span level="2">天使轮</span>
                        <span level="3">A轮</span>
                        <span level="4">B轮</span>
                        <span level="5">C轮</span>
                        <span level="6">D轮及以上</span>
                        <span level="7">上市公司</span>
                        <span level="8">不需要融资</span>
                    </div>
                </li>
                <li>
                    <div class="filterItem" id="industryField">
                        <strong>行业领域：</strong>
                        <span class="active" level="0">不限</span>
                        <span level="1">移动互联网</span>
                        <span level="2">电子商务</span>
                        <span level="3">金融</span>
                        <span level="4">企业服务</span>
                        <span level="5">教育</span>
                        <span level="6">文化娱乐</span>
                        <span level="7">游戏</span>
                        <span level="8">O2O</span>
                        <span level="9">硬件</span>
                        <a href="javascript:void(0)" class="leftMargin">更多</a>
                    </div>
                </li>
            </ul>
            <div id="filterFoot" class="filterItem">
                <label>
                    <strong>排序方式：</strong>
                    <span class="active" level="0">默认排序</span>
                    <span level="1">职位数量&darr;</span>
                    <span level="2">面试评价数&darr;</span>
                    <span level="3">简历处理率&darr;</span>
                </label>
            </div>
        </div>
        <div id="companyFromFilter">
            <ul>
                <%for(var i=0;i<companys.length;i++){%>
                <li class="companyItem">
                    <img class="companyLogo"
                         src="<%=companys[i].logoImage%>"/>
                    <div class="topItem">
                        <a href="#"><%=companys[i].name%></a>
                        <span class="logo-company1"><%=companys[i].industryField%></span>
                        <span class="logo-company2"><%=companys[i].cityName%>|<%=companys[i].districtName%></span>
                        <span class="logo-company3"><%=companys[i].currentLevel%></span>
                    </div>
                    <div class="middleItem">
                        <strong><span><%=companys[i].interviewCount%></span>条面试评价</strong>
                        <strong><span><%=companys[i].jobs%></span>个在招职位</strong>
                        <strong><span><%=(companys[i].handleCount/companys[i].resumeCount).toFixed(2)*100%>%</span>简历处理率</strong>
                    </div>
                    <div class="bottomItem">
                        <%=companys[i].introduction%>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</article>
</body>
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script>
    $(function () {
        //设置内容区域的高度
        $("#content_company").height($(window).height()-60);
        $(window).on("resize",function () {
            $("#content_company").height($(window).height()-60);
        });
        $("#filter span").each(function () {
            $(this).on("click",function () {
                if($(this).parent().children("strong").html()=="工作地点："){
                    $(this).parent().children("i").html($(this).html());
                    $(this).parent().children("i").attr("cityId",$(this).attr("cityId"));
                }
                $(this).addClass("active").siblings("span").removeClass("active");
            });
        });
        $("#cities span").on("click",function () {
            if($(this).html()=="不限"){
                $("#district").hide();
            }else{
                $("#district").show();
                $.ajax({
                    type:"POST",
                    url: "/getCities",
                    data:{
                        cityId:$(this).attr("cityId")
                    },
                    success:function (data) {
                        var count=0
                        var str="<strong>行政区：</strong><span districtId='0' class='active'>不限</span>";
                        $("#district").html(str);
                        $.each(data,function (index,content) {
                            str+="<span districtId='"+content.districtId+"'>"+content.districtName+"</span>";
                        });
                        $("#district").html(str);
                        $("#district span").on("click",function () {
                            $(this).addClass("active").siblings().removeClass("active");
                        });
                    }
                });
            }
        });
    });
</script>
<script src="/javascripts/company/company.js"></script>
</html>
