<!DOCTYPE html>
<html>
<head>
    <title>简历</title>
    <link rel="stylesheet" href="/stylesheets/cvData.css"/>
</head>
<body>
<%- include publicPages/header.ejs%>
<article>
    <%-include publicPages/nav.ejs %>
    <div id="content_cvData">
        <!--搜索框-->
        <div id="searchCvData">
            <input type="text" placeholder="买好车" id="searchText"/>
            <input type="button" value="搜索" class="btn btn-lg" id="searchBtn"/>
        </div>
        <!--筛选条件-->
        <div id="filter">
            <ul id="filterHeader">
                <li>
                    <div id="cities" class="filterItem">
                        <strong>工作地点：</strong>
                        <i cityId="0">北京</i>>
                        <span class="active">不限</span>
                        <% for(var i = 0;i < cityDatas.length;i++){ %>
                        <span cityId=<%= cityDatas[i].cityId %>><%= cityDatas[i].cityName %></span>
                        <% } %>
                        <a href="javascript:void(0)" class="leftMargin">更多</a>
                    </div>
                    <div id="district">
                        <strong>行政区：</strong>
                    </div>
                </li>
                <li>
                    <div class="filterItem" id="jobExperience">
                        <strong>工作经验：</strong>
                        <span class="active" level="0">不限</span>
                        <span level="1">应届毕业生</span>
                        <span level="2">1-3年</span>
                        <span level="3">3-5年</span>
                        <span level="4">5-10年</span>
                        <span level="5">10年以上</span>
                    </div>
                </li>
                <li>
                    <div class="filterItem" id="educationLevel">
                        <strong>最高学历：</strong>
                        <span class="active" level="0">不限</span>
                        <span level="1"></span>
                        <span level="2">大专</span>
                        <span level="3">本科</span>
                        <span level="4">研究生</span>
                        <span level="5">硕士</span>
                        <span level="6">博士</span>
                    </div>
                </li>
                <li>
                    <div class="filterItem" id="isTest">
                        <strong>有无测评：</strong>
                        <span class="active" level="0">不限</span>
                        <span level="1">有</span>
                        <span level="2">无</span>
                    </div>
                </li>
                <li>
                    <div class="filterItem" id="jobIntension">
                        <strong>求职职位：</strong>
                        <span class="active" level="0">不限</span>
                        <span level="1">技术</span>
                        <span level="2">产品</span>
                        <span level="3">设计</span>
                        <span level="4">运营</span>
                        <span level="5">市场与销售</span>
                        <span level="6">职能</span>
                        <span level="7">金融</span>
                    </div>
                </li>
            </ul>
            <div id="filterFoot" class="filterItem">
                <label>
                    <strong>排序方式：</strong>
                    <span class="active" level="1">默认</span>
                    <span level="2">最新</span>
                </label>
            </div>
        </div>
        <!--筛选出的内容-->
        <div id="jobFromFilter">
            <ul>
                <%for(var i=0;i<cvDataInfo.length;i++){%>
                <li class="cvDataItem">
                    <img src="<%=cvDataInfo[i].photo%>" class="photo"/>
                    <div class="topItem">
                        <strong class="name"><%=cvDataInfo[i].name%>(<%=cvDataInfo[i].age%>岁)
                            <% if(cvDataInfo[i].sex == 1){%>
                            <img src = "/images/boy.png" alt = "男" class= "sex" / >
                            <% }else{ %>
                            <img src="/images/girl.png" alt="女" class="sex"/>
                            <% } %>
                        </strong>
                        <span class="logo-city"><%=cvDataInfo[i].residence%></span>
                        <span class="logo-jobExperienceLogo left-10"><%=cvDataInfo[i].jobExperience%></span>
                        <span class="logo-education left-10"><%=cvDataInfo[i].educationLevel%></span>
                        <span class="logo-abilityTest left-10"><%=cvDataInfo[i].isTest%></span>
                    </div>
                    <div class="middleItem">
                        <strong class="salary"><%=cvDataInfo[i].salary%></strong>
                        <strong>求职岗位：</strong>
                        <span><%=cvDataInfo[i].jobIntension%></span>
                    </div>
                    <div class="bottomItem">
                        <%=cvDataInfo[i].introduction%>
                    </div>
                </li>
                <%}%>
            </ul>
        </div>
    </div>
</article>
</body>
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/cvData/cvData.js"></script>
<script>
    $(function () {
        //设置内容区域的高度
        $("#content_cvData").height($(window).height()-60);
        $(window).on("resize",function () {
            $("#content_cvData").height($(window).height()-60);
        });
        $("#filter span").each(function () {
            $(this).on("click",function () {
                if($(this).parent().children("strong").html()=="工作地点："){
                    $(this).parent().children("i").html($(this).html());
                    $(this).parent().children("i").attr("cityId",$(this).attr("cityId"));
                }
                $(this).addClass("active").siblings("span").removeClass("active");
            });
        });
        $("#cities span").on("click",function () {
            if($(this).html()=="不限"){
                $("#district").hide();
            }else{
                $("#district").show();
                $.ajax({
                    type:"POST",
                    url: "/getCities",
                    data:{
                        cityId:$(this).attr("cityId")
                    },
                    success:function (data) {
                        var count=0
                        var str="<strong>行政区：</strong><span districtId='0' class='active'>不限</span>";
                        $("#district").html(str);
                        $.each(data,function (index,content) {
                            str+="<span districtId='"+content.districtId+"'>"+content.districtName+"</span>";
                        });
                        $("#district").html(str);
                        $("#district span").on("click",function () {
                            $(this).addClass("active").siblings().removeClass("active");
                        });
                    }
                });
            }

        });

    });
</script>
</html>
