<!DOCTYPE html>
<html>
<head>
    <title>政府/学校</title>
    <link rel="stylesheet" href="/stylesheets/H-ui.reset.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/govAndSch.css">
</head>
<style>
    #content_govAndSch{
        background:#F4F8FB;
    }
</style>
<body>
<%- include publicPages/header.ejs%>
<article>
    <%-include publicPages/nav.ejs %>
    <div id="content_govAndSch">
        <!--搜索框-->
        <div id="searchGovAndSch">
            <input id="searchText" type="text" placeholder=""/>
            <input id="JSearch" type="button" value="搜索" class="btn btn-lg"/>
        </div>
        <!--筛选条件-->
        <div id="filter">
            <ul id="filterHeader">
                <li>
                    <div id="cities" class="filterItem">
                        <strong>地点：</strong>
                        <i cityid="-1">不限</i>
                        <span class="active" cityid="-1">不限</span>
                        <%for(var i=0;i<cityDatas.length;i++){%>
                        <span cityid=<%=cityDatas[i].cityId%>><%=cityDatas[i].cityName%></span>
                        <%}%>
                        <a href="javascript:void(0)" class="leftMargin">更多</a>
                    </div>
                    <div id="district">
                        <strong>行政区：</strong>
                    </div>
                </li>
                <li>
                    <div class="filterItem kindType">
                        <strong>类型：</strong>
                        <span class="active" typeValue="0">不限</span>
                        <span typeValue="1">学校</span>
                        <span typeValue="2">政府</span>
                    </div>
                </li>
            </ul>
        </div>
        <table id="filter-content" class="table table-bordered table-striped table-hover">
            <thead >
                <th>序号</th>
                <th>名称</th>
                <th>类型</th>
                <th>地址</th>
                <th>联系方式</th>
                <th>已发动态数</th>
                <th>待审核动态数</th>
                <th>操作</th>
            </thead>
            <tbody>
                <%for(var i=0;i<allGovAndSchInfo.length;i++){%>
                    <tr>
                        <td><%=allGovAndSchInfo[i].id%></td>
                        <td><%=allGovAndSchInfo[i].name%></td>
                        <td><%=allGovAndSchInfo[i].type%></td>
                        <td><%=allGovAndSchInfo[i].address%></td>
                        <td><%=allGovAndSchInfo[i].telephone%></td>
                        <td><%=allGovAndSchInfo[i].reTrends%></td>
                        <td><%=allGovAndSchInfo[i].noTrends%></td>
                        <td>
                            <span class="delete">删除</span>|
                            <span class="view">查看</span>
                        </td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    </div>
</article>
</body>
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script>
    $(function () {
//设置内容区域的高度
$("#content_govAndSch").height($(window).height()-60);
$(window).on("resize",function () {
   $("#content_govAndSch").height($(window).height()-60);
});
//是筛选条件可以被选中
        $("#filter span").each(function () {
            var $self=$(this);
            $self.on("click", function () {
                if ($(this).siblings("strong").html() == "地点：") {
                    $(this).siblings("i").html($(this).html()).attr("cityid",$(this).attr("cityid"));
                }
                $(this).addClass("active").siblings("span").removeClass("active");
            });
        });
//获取特定城市对应的行政区
        $("#cities span").on("click", function () {
            if ($(this).html() == "不限") {
                $("#district").hide();
            } else {
                $("#district").show();
                $.ajax({
                    type: "POST",
                    url: "/getCities",
                    data: {
                        cityId: $(this).attr("cityId")
                    },
                    success: function (data) {
                        var count = 0
                        var str = "<strong>行政区：</strong><span districtid='0' class='active'>不限</pan>";
                        $("#district").html(str);
                        $.each(data, function (index, content) {
                            count++;
                            if (count > 14) {
                                $("#district").append("<br/>");
                                count = 0;
                            }
                            $("<span districtid='"+content.districtId+"'>" + content.districtName + "</span>").on("click", function () {
                                $(this).addClass("active").siblings().removeClass("active");
                            }).appendTo($("#district"));
                        });
                    }
                });
            }
        });
//搜索按钮
        $("#JSearch").on("click", function () {
            var searchData={
                "searchText":$("#searchText").val(),
                "cityId":$("#cities i").attr("cityid"),
                "selectType":$(".kindType span").filter(".active").attr("typeValue")
            }
            if(searchData.cityId=="-1"){
                searchData.districtId="0";
            }else{
                searchData.districtId=$("#district span").filter(".active").attr("districtid");
            }
            $.ajax({
                type:"POST",
                url:"/govAndSch/getSearchGovAndSch.json",
                data:searchData
            }).done(function (data) {
                $("#filter-content tbody").html("");
                if(data.success){
                    var array=data.result;
                    var str=[];
                    for(var i=0;i<array.length;i++){
                        str.push("<tr>");
                        str.push("<td>"+array[i].id+"</td>");
                        str.push("<td>"+array[i].name+"</td>");
                        str.push("<td>"+array[i].type+"</td>");
                        str.push("<td>"+array[i].address+"</td>");
                        str.push("<td>"+array[i].telephone+"</td>");
                        str.push("<td>"+array[i].reTrends+"</td>");
                        str.push("<td>"+array[i].noTrends+"</td>");
                        str.push("<td>" +
                                "<span class='delete'>删除</span>" +
                                "<span class='view'>查看</span>" +
                                "</td>");
                        str.push("</tr>");
                    }
                    $("#filter-content tbody").html(str.join(""));
                }else{
//                    alert(data.msg);
                    $("#filter-content").after("<p>"+data.msg+"</p>");
                }
            });
        });
    });
</script>
</html>
