<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>新增职位</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%- include ../publicPages/css_content.ejs%>
    <link rel='stylesheet' href='/stylesheets/job/addJob.css' >
</head>
<body>
<!--头部区域-->
<%- include ../publicPages/header.ejs %>
<!--主体区域-->
<div id="main-body">
    <!--导航栏-->
    <%- include ../publicPages/nav.ejs %>
    <!--文本区域-->
    <div id="content-wrapper">
        <div class="addJob-wrapper">
            <fieldset class="layui-elem-field">
                <legend>新增职位</legend>
                <form class="layui-form form-addJob">
                    <div class="layui-form-item">
                        <label class="layui-form-label">职位名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="jobName"  placeholder="请输入职位名称"
                                   autocomplete="off" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">所属公司</label>
                        <div class="layui-input-block">
                            <select name="companyId">
                                <option value="">请选择所属公司</option>
                                <%for(var i=0;i<companyList.length;i++){%>
                                <option value="<%=companyList[i].id%>"><%=companyList[i].companyName%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">所在地区</label>
                        <div class="layui-input-inline">
                            <select name="provinceId" lay-filter="province">
                                <option value="">请选择省份</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select name="cityId" lay-filter="city">
                                <option value="">请选择城市</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select name="countryId">
                                <option value="">请选择县/区</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">详细地址</label>
                        <div class="layui-input-block">
                            <input type="text" name="address" placeholder="请输入详细地址"
                                   autocomplete="off" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">工作经验</label>
                        <div class="layui-input-inline">
                            <select name="experience">
                                <option value="">请选择工作经验</option>
                                <%for(var i=0;i<workExperienceList.length;i++){%>
                                <option value="<%=workExperienceList[i].id%>"><%=workExperienceList[i].name%></option>
                                <%}%>
                            </select>
                        </div>
                        <label class="layui-form-label">学历要求</label>
                        <div class="layui-input-inline">
                            <select name="education">
                                <option value="">请选择学历要求</option>
                                <%for(var i=0;i<educationList.length;i++){%>
                                <option value="<%=educationList[i].id%>"><%=educationList[i].name%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">月薪</label>
                        <div class="layui-input-inline">
                            <select name="salary">
                                <option value="">请选择月薪</option>
                                <%for(var i=0;i<salaryLevelList.length;i++){%>
                                <option value="<%=salaryLevelList[i].id%>"><%=salaryLevelList[i].name%></option>
                                <%}%>
                            </select>
                        </div>
                        <label class="layui-form-label">工作性质</label>
                        <div class="layui-input-inline">
                            <select name="jobNature">
                                <option value="">请选择工作性质</option>
                                <%for(var i=0;i<jobNatureList.length;i++){%>
                                <option value="<%=jobNatureList[i].id%>"><%=jobNatureList[i].name%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">职位诱惑</label>
                        <div class="layui-input-block">
                            <input type="text" name="briefIntroduction" placeholder="请输入职位诱惑"
                                   autocomplete="off" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">职位描述</label>
                        <div class="layui-input-block">
                            <textarea name="description" class="layui-textarea layui-hide" name="content" lay-verify="content" id="description"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn" lay-submit="" lay-filter="addJob">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>
</body>
<!--JS-->
<%- include ../publicPages/script_content.ejs %>
<script src="/javascripts/job/addJob.js"></script>
</html>
