<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>职位详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%- include ../publicPages/css_content.ejs%>
    <link rel='stylesheet' href='/stylesheets/job/jobDetail.css' >
</head>
<body>
<!--头部区域-->
<%- include ../publicPages/header.ejs %>
<!--主体区域-->
<div id="main-body">
    <div id="jobDetail">
        <div id="jobDetail-basicInfo">
            <blockquote class="layui-elem-quote" style="position: relative;">职位信息
                <button type="button" id="basicInfo-btn-edit" style="position: absolute;top: 16px;right: 20px;" class="layui-btn layui-btn-mini"><i class="layui-icon">&#xe642;</i></button>
            </blockquote>
            <form id="form-job-basicInfo" class="layui-form layui-form-pane">
                <input type="hidden" name="jobId" value="<%=basicInfo.id%>"/>
                <div class="layui-form-item">
                    <label class="layui-form-label">职位名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="jobName" placeholder="请输入职位名称"
                               autocomplete="off" class="layui-input" readonly="readonly" value="<%=basicInfo.jobName%>"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">所属公司</label>
                    <div class="layui-input-block">
                        <select name="companyId" lay-search disabled >
                            <%for(var i=0;i<companyList.length;i++){%>
                            <%if(companyList[i].id==basicInfo.companyId){%>
                            <option value="<%=companyList[i].id%>" selected><%=companyList[i].companyName%></option>
                            <%}else{%>
                            <option value="<%=companyList[i].id%>"><%=companyList[i].companyName%></option>
                            <%}%>
                            <%}%>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">所在地区</label>
                    <div class="layui-input-inline">
                        <select name="provinceId" disabled="disabled" lay-filter="province">
                            <%for(var i=0;i<basicInfo.provinceList.length;i++){%>
                            <%if(basicInfo.provinceList[i].ProID===basicInfo.provinceId){%>
                            <option value="<%=basicInfo.provinceList[i].ProID%>" selected><%=basicInfo.provinceList[i].name%></option>
                            <%}else{%>
                            <option value="<%=basicInfo.provinceList[i].ProID%>"><%=basicInfo.provinceList[i].name%></option>
                            <%}%>
                            <%}%>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="cityId" disabled="disabled" lay-filter="city">
                            <%for(var i=0;i<basicInfo.cityList.length;i++){%>
                            <%if(basicInfo.cityList[i].CityID===basicInfo.cityId){%>
                            <option value="<%=basicInfo.cityList[i].CityID%>" selected><%=basicInfo.cityList[i].name%></option>
                            <%}else{%>
                            <option value="<%=basicInfo.cityList[i].CityID%>"><%=basicInfo.cityList[i].name%></option>
                            <%}%>
                            <%}%>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="countryId" disabled="disabled">
                            <%for(var i=0;i<basicInfo.countryList.length;i++){%>
                            <%if(basicInfo.countryList[i].Id===basicInfo.countryId){%>
                            <option value="<%=basicInfo.countryList[i].Id%>" selected><%=basicInfo.countryList[i].DisName%></option>
                            <%}else{%>
                            <option value="<%=basicInfo.countryList[i].Id%>"><%=basicInfo.countryList[i].DisName%></option>
                            <%}%>
                            <%}%>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">详细地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="address" readonly="readonly" placeholder="请输入详细地址"
                               autocomplete="off" class="layui-input" value="<%=basicInfo.address%>" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">工作经验</label>
                    <div class="layui-input-inline">
                        <select name="experience" disabled="disabled">
                            <%for(var i=0;i<basicInfo.workExperienceList.length;i++){%>
                            <%if(basicInfo.workExperienceList[i].id===basicInfo.experience){%>
                            <option value="<%=basicInfo.workExperienceList[i].id%>" selected><%=basicInfo.workExperienceList[i].name%></option>
                            <%}else{%>
                            <option value="<%=basicInfo.workExperienceList[i].id%>"><%=basicInfo.workExperienceList[i].name%></option>
                            <%}%>
                            <%}%>
                        </select>
                    </div>
                    <label class="layui-form-label">学历要求</label>
                    <div class="layui-input-inline">
                        <select name="education" disabled="disabled">
                            <%for(var i=0;i<basicInfo.educationList.length;i++){%>
                            <%if(basicInfo.educationList[i].id===basicInfo.education){%>
                            <option value="<%=basicInfo.educationList[i].id%>" selected><%=basicInfo.educationList[i].name%></option>
                            <%}else{%>
                            <option value="<%=basicInfo.educationList[i].id%>"><%=basicInfo.educationList[i].name%></option>
                            <%}%>
                            <%}%>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">月薪</label>
                    <div class="layui-input-inline">
                        <select name="salary" disabled="disabled">
                            <%for(var i=0;i<basicInfo.salaryLevelList.length;i++){%>
                            <%if(basicInfo.salaryLevelList[i].id===basicInfo.salary){%>
                            <option value="<%=basicInfo.salaryLevelList[i].id%>" selected><%=basicInfo.salaryLevelList[i].name%></option>
                            <%}else{%>
                            <option value="<%=basicInfo.salaryLevelList[i].id%>"><%=basicInfo.salaryLevelList[i].name%></option>
                            <%}%>
                            <%}%>
                        </select>
                    </div>
                    <label class="layui-form-label">工作性质</label>
                    <div class="layui-input-inline">
                        <select name="jobNature" disabled="disabled">
                            <%for(var i=0;i<basicInfo.jobNatureList.length;i++){%>
                            <%if(basicInfo.jobNatureList[i].id===basicInfo.jobNature){%>
                            <option value="<%=basicInfo.jobNatureList[i].id%>" selected><%=basicInfo.jobNatureList[i].name%></option>
                            <%}else{%>
                            <option value="<%=basicInfo.jobNatureList[i].id%>"><%=basicInfo.jobNatureList[i].name%></option>
                            <%}%>
                            <%}%>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">职位诱惑</label>
                    <div class="layui-input-block">
                        <input type="text" name="briefIntroduction" readonly="readonly" placeholder="请输入职位诱惑"
                               autocomplete="off" class="layui-input" value="<%=basicInfo.briefIntroduction%>"/>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">职位描述</label>
                    <input type="hidden" value="<%=basicInfo.description%>" name="jobDescriptionHtmlStr"/>
                    <div class="jobDescriptionHtml"></div>
                    <textarea id="description-edit" name="description" style="display: none"></textarea>
                </div>
                <div class="layui-form-item basic-info-btn-wrapper" style="text-align: center;display: none;">
                    <button type="button" lay-submit lay-filter="job-basicInfo-submit" class="layui-btn">保存</button>
                    <button type="button" id="job-basicInfo-btn-cancel" class="layui-btn layui-btn-primary">取消</button>
                </div>
            </form>
        </div>
       <div id="jobDetail-hrInfo">
           <blockquote class="layui-elem-quote">HR信息</blockquote>
       </div>
        <div id="jobDetail-companyInfo">
            <blockquote class="layui-elem-quote">公司信息</blockquote>
        </div>
    </div>
</div>
</body>
<!--JS-->
<%- include ../publicPages/script_content.ejs %>
<script src="/javascripts/job/jobDetail.js"></script>
</html>