<!DOCTYPE html>
<html>
<head>
    <title>职位库</title>
    <%- include ../publicPages/css_content.ejs%>
    <link rel='stylesheet' href='/stylesheets/job/jobs.css' >
</head>
<body>
<!--头部区域-->
<%- include ../publicPages/header.ejs %>
<!--主体区域-->
<div id="main-body">
    <!--导航栏-->
    <%- include ../publicPages/nav.ejs %>
    <!--文本区域-->
    <div id="content-wrapper">
        <div id="content_job">
        <!--搜索框-->
        <div id="searchJob">
            <input type="text" placeholder="Java工程师" id="searchText"/>
            <input type="button" value="搜索" class="btn btn-lg" id="searchBtn"/>
        </div>
        <!--筛选条件-->
        <div id="filter">
            <ul id="filterHeader">
                <li>
                    <div id="cities" class="filterItem">
                        <strong>工作地点：</strong>
                        <i cityId="0">不限</i>>
                        <span class="active" cityId="0">不限</span>
                        <%for(var i=0;i<cityDatas.length;i++){%>
                        <span cityId=<%=cityDatas[i].cityId%>><%=cityDatas[i].cityName%></span>
                        <%}%>
                        <a href="javascript:void(0)" class="leftMargin">更多</a>
                    </div>
                    <div id="district">
                        <strong>行政区：</strong>
                    </div>
                </li>
                <li>
                    <div class="filterItem" id="jobExperience">
                        <strong>工作经验：</strong>
                        <span class="active" level="0">不限</span>
                        <span level="1">应届毕业生</span>
                        <span level="2">1-3年</span>
                        <span level="3">3-5年</span>
                        <span level="4">5-10年</span>
                        <span level="5">10年以上</span>
                    </div>
                </li>
                <li>
                    <div class="filterItem" id="educationBackground">
                        <strong>学历要求：</strong>
                        <span class="active" level="0">不限</span>
                        <span level="1">高中</span>
                        <span level="2">大专</span>
                        <span level="3">本科</span>
                        <span level="4">研究生</span>
                        <span level="5">硕士</span>
                        <span level="6">博士</span>
                    </div>
                </li>
                <li>
                    <div class="filterItem" id="currentLevel">
                        <strong>融资阶段：</strong>
                        <span class="active" level="0">不限</span>
                        <span level="1">未融资</span>
                        <span level="2">天使轮</span>
                        <span level="3">A轮</span>
                        <span level="4">B轮</span>
                        <span level="5">C轮</span>
                        <span level="6">D轮及以上</span>
                        <span level="7">上市公司</span>
                        <span level="8">不需要融资</span>
                    </div>
                </li>
                <li>
                    <div class="filterItem" id="industry">
                        <strong>行业领域：</strong>
                        <span class="active" level="0">不限</span>
                        <span level="1">电子商务</span>
                        <span level="2">金融</span>
                        <span level="3">企业服务</span>
                        <span level="4">教育</span>
                        <span level="5">文化娱乐</span>
                        <span level="6">游戏</span>
                        <span level="7">O2O</span>
                        <span level="8">硬件</span>
                        <span level="9">社交网络</span>
                        <a href="javascript:void(0)" class="leftMargin">更多</a>
                    </div>
                </li>
            </ul>
            <div id="filterFoot" class="filterItem">
                <label><strong>排序方式：</strong><span class="active">默认</span><span>最新</span></label>
                <label class="leftMargin">
                    <strong>月薪：</strong>
                    <select id="salaryLevel">
                        <%for(var i=0;i<salary.length;i++){%>
                        <option value=<%=salary[i].id%>><%=salary[i].name%></option>
                        <%}%>
                    </select>
                </label>
                <label class="leftMargin">
                    <strong>工作性质：</strong>
                    <select id="jobNature">
                        <%for(var i=0;i<jobNature.length;i++){%>
                            <option value=<%=jobNature[i].id%>><%=jobNature[i].name%></option>
                            <%}%>
                        </select>
                    </label>
                </div>
            </div>
            <!--筛选出的内容-->
            <div id="jobFromFilter">
                <ul>
                    <%for(var i=0;i<jobData.length;i++){%>
                    <li class="jobItem">
                        <div class="itemTop">
                            <input type="hidden" class="jobId" value="<%=jobData[i].jobId%>"/>
                            <input type="hidden" class="cityId" value="<%jobData[i].cityId%>"/>
                            <input type="hidden" class="districtId" value="<%=jobData[i].districtId%>"/>
                            <a class="jobName" href="/getjobDetail/<%=jobData[i].jobId%>.html"target="_blank"><%=jobData[i].jobName%>[<%=jobData[i].cityName%>/<%=jobData[i].districtName%>]</a>
                            <span class="date"><%=jobData[i].createTime%></span>
                            <input type="hidden" class="companyId" value="<%=jobData[i].companyId%>"/>
                            <a class="companyName" href="#"><%=jobData[i].companyName%></a>
                        </div>
                        <div class="itemMiddle">
                            <span class="salary"><%=jobData[i].salary%></span>
                            <span class="learnBackground"><%=jobData[i].jobExperience%>/<%=jobData[i].educationBackground%></span>
                            <span class="trade">
                                <% for(var j = 0;j < jobData[i].industryField.length;j++){ %>
                                <% if(j < jobData[i].industryField.length - 1){ %>
                                <%= jobData[i].industryField[j] %>,
                                <% }else {%>
                                <%= jobData[i].industryField[j] %>
                                <% }} %>
                                /
                                <%=jobData[i].currentLevel%></span>
                        </div>
                        <div class="itemBottom">
                            <span class="drumbeate">"<%= jobData[i].jobTemptation %>"</span>
                            <span class="jobNature"><%= jobData[i].jobNature %></span>
                        </div>
                        <a class="companyLogo" href="#">
                            <img  src="<%=jobData[i].logoImage%>" width="60px" height="60px" />
                        </a>
                    </li>
                    <%}%>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
<!--JS-->
<%- include ../publicPages/script_content.ejs %>
<script>
    $(function () {
        $("#filter span").each(function () {
            $(this).on("click",function () {
                if($(this).parent().children("strong").html()=="工作地点："){
                    $(this).parent().children("i").html($(this).html());
                    $(this).parent().children("i").attr("cityId",$(this).attr("cityId"));
                }
               $(this).addClass("active").siblings("span").removeClass("active");
            });
        });
        $("#cities span").on("click",function () {
            if($(this).html()=="不限"){
                $("#district").hide();
            }else{
                $("#district").show();
                $.ajax({
                    type:"POST",
                    url: "/getCities",
                    data:{
                        cityId:$(this).attr("cityId")
                    },
                    success:function (data) {
                        var count=0
                        var str="<strong>行政区：</strong><span districtId='0' class='active'>不限</span>";
                        $("#district").html(str);
                        $.each(data,function (index,content) {
                            str+="<span districtId='"+content.districtId+"'>"+content.districtName+"</span>";
                        });
                        $("#district").html(str);
                        $("#district span").on("click",function () {
                            $(this).addClass("active").siblings().removeClass("active");
                        });
                    }
                });
            }

        });

    });
</script>
<script src="/javascripts/job/job.js"></script>
</html>
